services:
  frontend:
    image: polar-chart-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
    restart: unless-stopped

  backend:
    image: polar-chart-backend
    build:
      context: .
      dockerfile: Dockerfile.server
    ports:
      - "3001:3001"
    volumes:
      - ./data:/app/data
    restart: unless-stopped
